* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  height: 497px;
  width: 320px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#qr-code-img {
  height: 288px;
  width: 288px;
  border-radius: 10px;
}

h2 {
  margin: 20px 0;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #1f314f;
}

p {
  margin-top: 0;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  text-align: center;
  color: #7d889e;
}
